datadir="/var/lib/proxysql"

admin_variables =
{
    admin_credentials="admin:admin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables =
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    poll_timeout=2000
    stacksize=1048576
    server_version="8.0.0"
    connect_timeout_server=3000
    monitor_username="monitor"
    monitor_password="monitor"
}

mysql_servers =
(
    { address = "mysql", port = 3306, hostgroup = 0, max_connections = 100 }
)

mysql_users =
(
    { username = "testuser", password = "testpassword", default_hostgroup = 0 }
)

mysql_query_rules =
(
)
